<header id="wrapper">
  <nav>
  <img id="logoImage" src="../assets/todolist 2.png">
        <ul>
          <li>Home</strong></li>
          <li>About</strong></li>
          <li>Todos</li>
        </ul>
      </nav>
</header>
