#box {

  display: flex;
  position: relative;
  text-align: center;
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Baloo Bhaijaan', cursive;
  width: 400px;
  text-align: center;
   margin: 0 auto;
   margin-top: 10px;


}

ul {
  list-style: none;
  text-align: right;

}


li {
  font-family: 'Raleway', sans-serif;
  display: inline;
  background-color: lightyellow;
  margin: 10px;
  padding: 10px 30px;
}
