<% include ../partials/boilerplate.ejs %>
<div id='box'>
<% include ../partials/header.ejs %>
<main>

<div id='welcome'> Welcome to my Todo App! </div>
<a href="/todos">Enter Todo's App </a>
</main>

<% include ../partials/footer.ejs %>


</body>
</html>
