<% include ../partials/boilerplate.ejs %>
<div id='box'>
<% include ../partials/header.ejs %>
<main>

<div> Welcome to my Todo App! </div>
<a href="/todos"><button>Enter Todo's App </button></a>
</main>

<% include ../partials/footer.ejs %>


</body>
</html>
