<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<div class='todo>'
<p><%= data.title %><p>
<p><%= data.status %></p>
<p><%= data.category %></p>
<a href= '/todos/'> See all todos</a>
</div>
<% include ../partials/footer.ejs %>
